labs/c#/WIS/WIS/Service References/RookieCard/RookieCard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://yooluck.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://yooluck.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://yooluck.com/">
      <s:element name="UseCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="regionId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="partnerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UseCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UseCardResult" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="itemTemplate" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="generation" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="region_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="partner_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expire" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateCards">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="generation" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="region_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="partner_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expire" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateCardsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateCardsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UseCardSoapIn">
    <wsdl:part name="parameters" element="tns:UseCard" />
  </wsdl:message>
  <wsdl:message name="UseCardSoapOut">
    <wsdl:part name="parameters" element="tns:UseCardResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateCardSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateCard" />
  </wsdl:message>
  <wsdl:message name="GenerateCardSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateCardResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateCardsSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateCards" />
  </wsdl:message>
  <wsdl:message name="GenerateCardsSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateCardsResponse" />
  </wsdl:message>
  <wsdl:portType name="RookieCardSoap">
    <wsdl:operation name="UseCard">
      <wsdl:input message="tns:UseCardSoapIn" />
      <wsdl:output message="tns:UseCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateCard">
      <wsdl:input message="tns:GenerateCardSoapIn" />
      <wsdl:output message="tns:GenerateCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateCards">
      <wsdl:input message="tns:GenerateCardsSoapIn" />
      <wsdl:output message="tns:GenerateCardsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RookieCardSoap" type="tns:RookieCardSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UseCard">
      <soap:operation soapAction="http://yooluck.com/UseCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCard">
      <soap:operation soapAction="http://yooluck.com/GenerateCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCards">
      <soap:operation soapAction="http://yooluck.com/GenerateCards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RookieCardSoap12" type="tns:RookieCardSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UseCard">
      <soap12:operation soapAction="http://yooluck.com/UseCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCard">
      <soap12:operation soapAction="http://yooluck.com/GenerateCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCards">
      <soap12:operation soapAction="http://yooluck.com/GenerateCards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RookieCard">
    <wsdl:port name="RookieCardSoap" binding="tns:RookieCardSoap">
      <soap:address location="http://localhost:1349/RookieCard.asmx" />
    </wsdl:port>
    <wsdl:port name="RookieCardSoap12" binding="tns:RookieCardSoap12">
      <soap12:address location="http://localhost:1349/RookieCard.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>